/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

body{
    background-color: hsl(212, 45%, 89%);    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 30%;
    height: 25%;

    margin: auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);

    padding: 15px;
    border-radius: 5%;
    box-shadow: 3px 3px 10px hsl(220, 15%, 55%);

    min-width: 110px;
    max-width: fit-content;
}

img{
    width: 100%;
    border-radius: 5%;
}

h1{
    font-size: 3.5vh;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

h1, p{
    font-family: 'Outfit', sans-serif;
}

/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }